banner {
    .banner {
        background-image: url(https://www.indiacubes.com/shopping/image/b51.jpg);
        background-size: 100%;
        background-position: center;
        height: 200px;
        margin: 8px;
        border: solid 1px #ccc;
    }
}
