<div layout="row" layout-wrap>
    <md-card ng-if="$ctrl.list" ng-repeat="item in $ctrl.list" flex-xs="100" flex-sm="45" flex="20" ng-init="imgIndex=0; detailIndex=0;">
        <ul class="tags" ng-class="{'ng-hide-add': 0 === detailIndex, 'ng-hide-remove': 0 !== detailIndex}">
            <li ng-repeat="d in item.details"><span class="tag">{{d.size}}</span></li>
        </ul>
        <div class="md-card-image" ng-class="{'ng-hide-add': 0 === detailIndex, 'ng-hide-remove': 0 !== detailIndex}">
            <div ng-repeat="img in item.images" class="img" ng-class="{'ng-hide-add': $index === imgIndex, 'ng-hide-remove': $index !== imgIndex}"
                background-src="img"></div>
            <div class="nav">
                <md-radio-group ng-model="imgIndex" layout="row">
                    <md-radio-button ng-value="$index" ng-repeat="img in item.images" aria-label="{{item.name}}"></md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <md-card-content ng-class="{'ng-hide-add': 0 === detailIndex, 'ng-hide-remove': 0 !== detailIndex}">
            <h3>{{item.name}}</h3>
            <p class="elipsis2">{{item.des}}</p>
        </md-card-content>
        <div style="position: absolute; top: 0px; left: 0px;" ng-class="{'ng-hide-add': 1 === detailIndex, 'ng-hide-remove': 1 !== detailIndex}">
            <md-card-content>
                <p>{{item.des}}</p>
                <md-list layout-no-padding>
                    <md-subheader class="md-no-sticky">Available sizes</md-subheader>
                    <md-list-item ng-repeat="d in item.details">
                        <p>{{d.size}}: {{d.quantity}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </div>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite" ng-click="detailIndex = detailIndex ? 0 : 1;">
                <md-icon ng-if="!detailIndex">keyboard_arrow_right</md-icon>
                <md-icon ng-if="detailIndex">keyboard_arrow_left</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
    <md-card flex-xs="100" flex-sm="45" flex="20">
        <md-card-content ng-if="$ctrl.isAdd">
            <div align="right">
                <md-button class="md-icon-button" ng-click="$ctrl.isAdd = !$ctrl.isAdd;" ng-if="$ctrl.isAdd">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
            <upload-file file-model="$ctrl.p.images" name="images"></upload-file>
            <md-input-container>
                <label>Name</label>
                <input ng-model="$ctrl.p.name">
            </md-input-container>
            <md-input-container class="md-block" ng-init="$ctrl.p.sizes=[{size: '', quantity: ''}];">
                <label>Des</label>
                <textarea ng-model="$ctrl.p.des" md-maxlength="300" rows="2"></textarea>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Money</label>
                <input ng-model="$ctrl.p.money" type="number" placeholder="$">
            </md-input-container>
            <md-input-container>
                <label>Category</label>
                <md-select ng-model="$ctrl.p.category_id" ng-if="$ctrl.categories">
                    <md-option ng-repeat="c in $ctrl.categories" ng-value="c._id">
                        {{c.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row">
                <md-button class="md-icon-button" aria-label="Add" ng-click="$ctrl.p.sizes.push({size: '', quantity: ''});">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
            <div layout="row" ng-repeat="s in $ctrl.p.sizes">
                <md-input-container class="md-block">
                    <label>Size</label>
                    <input ng-model="s.size" type="text" placeholder="S">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Quantity</label>
                    <input ng-model="s.quantity" type="number" placeholder="0">
                    <md-icon class="button" ng-click="$ctrl.p.sizes.splice($index, 1);">remove</md-icon>
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite" ng-click="$ctrl.save($ctrl.p)" ng-if="$ctrl.isAdd">
                <md-icon>save</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="$ctrl.isAdd = !$ctrl.isAdd;" ng-if="!$ctrl.isAdd">
                <md-icon>add</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</div>