<div layout="row" layout-wrap class="product-list">  
    <div ng-if="$ctrl.list" ng-repeat="item in $ctrl.list" flex-xs="100" flex-sm="50" flex="25" ng-init="imgIndex=0; sizeIndex=0;" class="card-item-wrap">
        <md-card class="card-item">
            <div class="sale-box" ng-if="item.sizes && 0 === sizeIndex">
                <span class="sale-label">
                    {{item.size}}
                </span>
            </div>       
            <div class="card-image" ng-class="{'ng-hide-add': 0 === sizeIndex, 'ng-hide-remove': 0 !== sizeIndex}">
                <div ng-repeat="img in item.images" class="img" ng-class="{'ng-hide-add': $index === imgIndex, 'ng-hide-remove': $index !== imgIndex}" background-src="img" ng-click="$ctrl.viewImage(item.images, imgIndex)" size="$ctrl.deviceSize"></div>
                <div class="nav">
                    <md-radio-group ng-model="imgIndex" layout="row">
                        <md-radio-button ng-value="$index" ng-repeat="img in item.images" aria-label="{{item.name}}"></md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div ng-class="{'ng-hide-add': 0 === sizeIndex, 'ng-hide-remove': 0 !== sizeIndex}">
                <div class="card-name" align="center">{{item.name}}</div>
                <div class="card-money">{{item.money | money}}</div>
            </div>
            <div class="des" style="position: absolute; top: 0px; left: 0px;" ng-class="{'ng-hide-add': 1 === sizeIndex, 'ng-hide-remove': 1 !== sizeIndex}">
                <md-card-content ng-show="!$ctrl.isSell">
                    <img image-src="item.images[0]" size="'thumb'" width="32" style="float: left; border-radius: 100%; margin: 8px 8px 0px 0px;" />
                    <div class="card-name">{{item.name}}</div>
                    <div class="card-des">{{item.des}}</div>
                    <div class="card-des" ng-if="$root.isAuth">Các size còn:<br/> 
                        <span class="card-name" ng-repeat="s in item.sizes" title="Remain {{s.quantity}}/{{s.quantity0}}" ng-if="s.quantity > 0">
                            <a href="#" ng-if="s.quantity > 0" class="card-name" ng-click="$ctrl.addSell(item, $index)">{{s.size}}</a>
                        </span>
                    </div>
                </md-card-content>
                <md-card-content ng-show="$ctrl.isSell" layout="row" layout-wrap>
                    <div align="right" style="width: 100%"><a href="#" ng-click="$ctrl.isSell = 0;"><span class="card-name">{{$ctrl.sizeName}}</span></a></div>
                    <md-datepicker ng-model="$ctrl.trans.created_date" md-placeholder="Enter date" md-max-date="$ctrl.today" style="width: 100%"></md-datepicker>
                    <md-input-container class="md-block" flex="100" md-no-float>
                        <input ng-model="$ctrl.trans.buyer" placeholder="Buyer name">
                    </md-input-container>
                    <md-input-container class="md-block" flex="100" md-no-float>
                        <textarea ng-model="$ctrl.trans.address" md-maxlength="150" rows="2" md-select-on-focus placeholder="Address"></textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50" md-no-float>
                        <input ng-model="$ctrl.trans.quantity" placeholder="Quantity">
                    </md-input-container>
                    <div flex>
                        <md-button ng-click="$ctrl.sell()" class="md-primary">
                            <md-icon>shopping_basket</md-icon>
                        </md-button>
                    </div>
                </md-card-content>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-card-icon-actions ng-if="$root.isAuth">
                    <md-button class="md-icon-button" aria-label="Edit" ng-click="$ctrl.edit(item)">
                        <md-icon>edit</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Delete" ng-click="$ctrl.delete(item)">
                        <md-icon>delete</md-icon>
                    </md-button>                    
                </md-card-icon-actions>
                <md-button class="md-icon-button" aria-label="Details" ng-click="sizeIndex = sizeIndex ? 0 : 1;">
                    <md-icon ng-if="!sizeIndex">more_horiz</md-icon>
                    <md-icon ng-if="sizeIndex">keyboard_arrow_left</md-icon>
                </md-button>      
            </md-card-actions>
        </md-card>
    </div>
    <div class="card-item-wrap" flex-xs="100" flex-sm="50" flex="25">
        <md-card class="card-item add">
            <md-card-content ng-if="$ctrl.isAdd">
                <div align="right">
                    <md-button class="md-icon-button" ng-click="$ctrl.isAdd = !$ctrl.isAdd;" ng-if="$ctrl.isAdd">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
                <upload-file file-model="$ctrl.p.images" name="images" img-src="$ctrl.p.images ? $ctrl.p.images[0] : undefined"></upload-file>
                <md-switch class="md-primary" md-no-ink aria-label="Special" ng-model="$ctrl.p.special">
                    Hàng bán chạy ?
                </md-switch>
                <md-input-container>
                    <label>Tên sản phẩm</label>
                    <input ng-model="$ctrl.p.name">
                </md-input-container>
                <md-input-container class="md-block" ng-init="$ctrl.p.sizes=[{size: '', quantity: ''}];">
                    <label>Mô tả sản phẩm</label>
                    <textarea ng-model="$ctrl.p.des" md-maxlength="300" rows="2"></textarea>
                </md-input-container>                
                <md-input-container class="md-block">
                    <label>Tiền</label>
                    <input ng-model="$ctrl.p.money" type="number" placeholder="$">
                </md-input-container>
                <md-input-container style="width: 100%" class="md-block">
                    <label>Nhóm buôn bán</label>
                    <md-select ng-model="$ctrl.p.category_id" ng-if="$ctrl.categories">
                        <md-option ng-repeat="c in $ctrl.categories" ng-value="c._id">
                            {{c.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout="row">
                    <md-input-container class="md-block" flex="80">
                        <label>Kích cỡ hiển thị</label>
                        <input ng-model="$ctrl.p.size" type="text" placeholder="Size desc">
                    </md-input-container>
                    <md-button class="md-icon-button" aria-label="Add" ng-click="$ctrl.p.sizes.push({size: '', quantity: ''});">
                        <md-icon>add</md-icon>
                    </md-button>                    
                </div>
                <div layout="row" ng-repeat="s in $ctrl.p.sizes" ng-if="$ctrl.p && $ctrl.p.sizes">
                    <md-input-container class="md-block">
                        <label>Kích cỡ</label>
                        <input ng-model="s.size" type="text" placeholder="S">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Số lượng</label>
                        <input ng-model="s.quantity" type="number" placeholder="0">
                        <md-icon class="button" ng-click="$ctrl.p.sizes.splice($index, 1);">remove</md-icon>
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite" ng-click="$ctrl.save($ctrl.p)" ng-if="$ctrl.isAdd">
                    <md-icon>save</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="$ctrl.createNew()" ng-if="!$ctrl.isAdd">
                    <md-icon>add</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>