md-dialog-content::-webkit-scrollbar {
    width: 4px;
}

html::-webkit-scrollbar {
    width: 8px;
}

md-dialog-content::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

md-dialog-content::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d92469;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

md-dialog-content::-webkit-scrollbar-thumb:window-inactive,
html::-webkit-scrollbar-thumb:window-inactive {
    background: #9f184c;
}

product {
    .hot {
        font-size: 0.5em;
        font-family: Arial, Helvetica, sans-serif;
        background: red;
        color: white;
        font-weight: bold;
        padding: 2px 4px;
        border-radius: 4px;
    }
    .md-whiteframe-z1 {
        box-shadow: none !important;
    }
    md-card-actions input {
        padding: 4px;
        margin: 0px 4px;
    }
    md-card-actions button {
        margin: 0px !important;
    }
    md-input-container {
        margin: 8px 0px;
    }
    .product-list {
        min-height: 500px;
        opacity: 0;
        -webkit-transition: opacity 1s; /* Safari */
        transition: opacity 1s;
    }
    .product-list.active {
        opacity: 1;
    }
    .sale-box {
        position: absolute;
        top: -3px;
        overflow: hidden;
        height: 85px;
        width: 85px;
        text-align: center;
        z-index: 1;
        right: -3px;
    }
    .sale-label.notavail {
        background: #b9b6b5;
    }
    .sale-label {
        background: #8dca00;
        color: white;
        display: block;
        font-weight: 700;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 9px 0 7px;
        perspective: 1px;
        position: absolute;
        right: -33px;
        text-align: center;
        text-transform: uppercase;
        top: 16px;
        width: 130px;
        z-index: 1;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: 1px 1px 1px #7d7c7c;
    }
    .card-item-wrap {
        position: relative;
        /*padding: 8px;*/
    }
    .card-item {
        position: relative;
        border: solid 1px #ccc;
    }
    .md-errors-spacer {
        min-height: 0px;
    }
    .des md-input-container {
        padding: 0px;
    }
    .des {
        .card-des {
            font-size: 1em;
        }
        .card-name {
            font-size: 1.1em;
        }
    }
    .card-des {
        padding: 8px;
    }
    .card-name {
        padding: 8px;
    }
    .card-money {
        padding: 8px;
        font-size: 1.2em;
        text-align: center;
    }
    .card-item-wrap.removed {
        opacity: 0.3;
        filter: alpha(opacity=50);
    }
    .card-item-wrap:hover .img {
        -moz-transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
    .card-image {
        position: relative;
        height: 200px;
        overflow: hidden;
    }
    .card-image .img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        -moz-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    .card-image .img:nth-child(n+2) {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    md-radio-button {
        margin: 0px !important;
    }
    .nav {
        position: relative;
    }
    .nav md-radio-group {
        top: -24px;
        right: 0px;
        position: absolute;
    }
    md-card-content h3 {
        margin: 0px;
    }
    md-card-content {
        padding: 8px;
    }
    .ng-hide-add,
    .ng-hide-remove {
        -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    }
    .ng-hide-add.ng-hide-add-active,
    .ng-hide-remove {
        opacity: 0;
        z-index: -1;
    }
    .ng-hide-add,
    .ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
        z-index: 0;
    }
    .tags {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 0px;
        z-index: 1;
    }
    .tag {
        background: #fefefe;
        border-radius: 0 5px 5px 0px;
        color: #ff5991;
        display: block;
        padding: 4px 8px;
        font-size: 0.8em;
        font-weight: bolder;
        margin: 3px 0;
    }
}