policy {
    .bank-name {
        margin: 8px 0px;
    }
    .bank img {
        box-shadow: 1px 1px 1px #999;
    }
    .bank {
        background-color: #efefef;
        padding: 16px;
        margin: 8px;
        border: solid 1px #ccc;
    }
}
