<h3 layout-padding>Cách thức mua hàng</h3>
<ol>
    <li>
        Khách hàng đặt hàng vui lòng <a href="https://m.facebook.com/messages/read/?fbid=1722718674613640" target="_blank"><b>inbox</b></a> 
        qua <a href="https://www.facebook.com/Menana198/" target="_blank"><b>fanpage Menana198</b></a> 
        hoặc sđt <b>0962.925.790</b> (mobile.viber.zalo)</li>
    <li>
        Khách hàng chuyển tiền vào tài khoản<br/>
        <div layout="row" layout-wrap> 
            <div flex="45" flex-xs="100" class="bank">             
                <img src="../../assets/images/vietcombank.png" style="float: left; margin-right: 8px;" />
                <h3 class="bank-name" style="color: #2e7b5e">TIÊN PHONG BANK</b></h3>
                Chủ tài khoản: <b>DOAN THUAN THANH</b><br/>
                Số tài khoản: <b>0491001758593</b><br/>
                Chi nhánh: <b>THĂNG LONG</b>
            </div>
            <div flex="45" flex-xs="100" class="bank">
                <img src="../../assets/images/tienphongbank.jpg" style="float: left; margin-right: 8px;" />
                <h3 class="bank-name" style="color: #ea6b26">VIETCOMBANK</b></h3>
                Chủ tài khoản: <b>DOAN THUAN THANH</b><br/>
                Số tài khoản: <b>00060779001</b><br/>
                Chi nhánh: <b>PHẠM HÙNG</b>
            </div>
        </div>
    </li>
    <li>
        Shop nhận ship toàn quốc.<br/> 
        Ship nội thành Hà Nội 20-30k/đơn<br/> 
        Khách hàng không muốn mất phí ship qua lấy hàng tại <i>Số l4, ngõ 75 - Phố Lương Yên. P. Bạch Đằng. Q. Hai Bà Trưng, Tp.Hà Nội</i>
    </li>
</ol>
<h3 layout-padding>Quy định vẫn để đổi trả hàng:</h3>
<ol>
    <li>Hàng đã mua miễn trả lại</li>
    <li>Hàng muốn đổi chỉ được đổi trong vòng <b>2 ngày</b> do <b>hàng lỗi</b>, <b>do size</b>, <b>chưa qua giặt</b> và <b>phải còn tem mác</b></li>
</ol>