<div ng-if="$root.isAuth" layout-padding>
    <div layout="row" layout-wrap>
        <div flex="40" flex-xs="50" flex-sm="40">
            <md-datepicker ng-model="$ctrl.fromDate" md-placeholder="Từ ngày" ng-change="$ctrl.filter()" md-max-date="$ctrl.toDate"></md-datepicker>
        </div>
        <div flex="40" flex-xs="50" flex-sm="40">
            <md-datepicker ng-model="$ctrl.toDate" md-placeholder="Đến ngày" ng-change="$ctrl.filter()" md-min-date="$ctrl.fromDate"></md-datepicker>
        </div>
        <md-input-container flex>    
            <md-select ng-model="$ctrl.statusFilter" ng-change="$ctrl.filter()" class="status{{$ctrl.statusFilter}}" aria-label="Filter by status">
                <md-option ng-value="undefined"><em># Trạng thái đơn hàng</em></md-option>
                <md-option ng-repeat="(key, value) in $ctrl.status" ng-value="key" class="status{{key}}">
                    {{value}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-divider></md-divider>    
    <h4>Tổng hợp</h4>
    <ol ng-if="$ctrl.summary" class="summary">
        <li>
            Tổng tiền: <span>{{($ctrl.summary.spending.money + $ctrl.summary.successed.money) | money}}</span> / {{$ctrl.summary.spending.num + $ctrl.summary.successed.num}} chiếc
        </li>
        <li>
            Đang gửi: <span class="status2">{{$ctrl.summary.spending.money | money}}</span> / {{$ctrl.summary.spending.num}} chiếc
        </li>
        <li>
            Đã nhận tiền: <span class="status1">{{$ctrl.summary.successed.money | money}}</span> / {{$ctrl.summary.successed.num}} chiếc
        </li>
    </ol>
    <md-divider></md-divider>
    <div layout="row" layout-wrap class="product-list" ng-repeat="date in $ctrl.list">
        <h3 flex="100">
            <md-icon>dashboard</md-icon> <small>{{date.created_date | date:'dd/MM/yyyy'}} ( <small><em class="status2">{{date.spending | money}}</em> + <em class="status1">{{date.successed | money}}</em> = <em>{{(date.spending + date.successed) | money}}</em> )</small></small>
        </h3>
        <div ng-if="$ctrl.list" ng-repeat="item in date.list" flex-xs="100" flex-sm="50" flex="25" ng-init="imgIndex=0;" class="card-item-wrap card{{item.status}}">
            <md-card class="card-item">
                <div class="sale-box" ng-if="item.size">
                    <span class="sale-label">
                        {{item.size.size}}
                    </span>
                </div>
                <div class="card-image">
                    <div ng-repeat="img in item.product.images" class="img" ng-class="{'ng-hide-add': $index === imgIndex, 'ng-hide-remove': $index !== imgIndex}"
                        background-src="img" size="$ctrl.deviceSize"></div>
                    <div class="nav">
                        <md-radio-group ng-model="imgIndex" layout="row">
                            <md-radio-button ng-value="$index" ng-repeat="img in item.product.images" aria-label="{{item.name}}"></md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div>                
                    <div class="card-money">{{item.money | money}} / {{item.quantity}}</div>
                    <div class="card-name">* <small>{{item.buyer}}</small></div>
                    <div class="card-des">* <small>{{item.address}}</small></div>
                </div>
                <br/>
                <md-card-actions layout="row" layout-align="end center">
                    <md-card-icon-actions ng-if="$root.isAuth">
                        <md-input-container style="width: 100%">
                            <label>Status</label>
                            <md-select ng-model="item.status" class="status{{item.status}}" ng-change="$ctrl.updateStatus(item)" ng-disabled="item.status != 2">
                                <md-option ng-repeat="(key, value) in $ctrl.status" ng-value="key" class="status{{key}}">
                                    {{value}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </md-card-icon-actions>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>